adbutils==0.10.1
apkutils2==1.0.0
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
cigam==0.0.3
click==7.1.2
decorator==5.0.6
Deprecated==1.2.12
deprecation==2.1.0
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
logzero==1.7.0
lxml==4.6.3
MarkupSafe==1.1.1
numpy==1.20.2
opencv-python==4.5.1.48
packaging==20.9
Pillow==8.2.0
progress==1.5
py==1.10.0
pyelftools==0.27
pyparsing==2.4.7
pytesseract==0.3.7
requests==2.25.1
retry==0.9.2
six==1.15.0
uiautomator2==2.15.0
urllib3==1.26.4
Werkzeug==1.0.1
whichcraft==0.6.1
wrapt==1.12.1
xmltodict==0.12.0
